.detail-Container{
    background: fixed;
    background-size: 100%;
    background-image: url("https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
}


.card-detail {
    
    background-size: 90% 90%;
    backdrop-filter: blur(30px);
    width: 1000px;
    height: 950px;
    overflow: hidden;
    transition: 0.3s;
    animation: ease-in-out;
    box-shadow: 0px 0px 10px 0px rgb(107, 193, 21);
    margin-left: 60ex;
    padding-top: 1px;
    padding-bottom: 130px;
    margin-top: 0ex;
    margin-bottom:1%;
    border-radius: 20px;
}

.image{
    border-radius: 20px;
}

.Card-description{
    padding-left: 3%;
    padding-right: 3%;
    color: rgb(206, 195, 172);
    text-align: justify;
    font-weight: bold;
}
.button{
    background-color: aqua;
}