.Home-container{
   
    
    /* https://thumbs.dreamstime.com/b/fondo-con-estilo-negro-oscuro-del-horror-de-la-ilustraci%C3%B3n-textura-metal-oxidado-viejo-una-pared-imitaci%C3%B3n-sangre-manchada-151211642.jpg */
    background-image: url("https://fondosmil.com/fondo/65418.jpg");
    padding-top: 1%;
    background-size:  100% 100%  ;
}


.positions {
    
    display: grid;
    justify-items:center;
    grid-template-columns: repeat(3, 2fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: sticky;
    margin-top: 3ex;
    padding-bottom: 14.9%;
   
} 

.botones{
    align-items: center;
    padding-right: 10px;
}

.Titulo-Home{
    color: white;
}



