.Card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    font-weight: 500px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.Card-container img{
    width: 100%;
    border-radius: 20px;
}

.genres-card{
    display: flex;
    align-self: flex-start;
    
}

.name-card {
  display: flex;
  align-self: flex-start;
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
  }

.rating-span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: darkorange;
    font-weight: bold;
    font-size: 16px;
    z-index: 1;
    border-top-right-radius: 20px;
  }
  
  
  
  
  
  