.card-container {
    
    background-size: 100% 100%;
    backdrop-filter: blur(6px);
    width: 400px;
    overflow: hidden;
    transition: 0.3s;
    animation: ease-in-out;
    box-shadow: 0px 0px 10px 0px rgb(42, 80, 3);
    margin-left: 4ex;
    margin-top: 3ex;
    margin-bottom: 1ex;
    border-radius: 20px;
}

/* .image-container{
    overflow: hidden;
    height: 50px;
    border: 50px solid rgb(0, 0, 0);
} */

.titulo{
    color: black;
}

.background-image{

   height: 200px;
   width: 400px;   
}

.image{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}
.Card-name{
    color: white;
}