.contenedor-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form div label {
  margin-bottom: 5px;
}

.form div input {
  margin-bottom: 10px;
}

.form div span {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

.form input{
  width: 100%;
}

.form select{
  margin-bottom: 15px;
}

.form button{
  align-self: center;
  margin-top: 15px;
  border-radius: 5px;
}

.lista {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 5px;
}
