.landing-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.image-container{
  width: 100%;
}



.banner-landing{
 display:block;
 justify-content: center;
 align-items: center;
 
}

.footer-landing{
position: absolute;
bottom: 0;
width: 100%;
  
}

.button-landing{
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 5%;
  top:55%;
}

